/* reset */
h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}
*,
::before,
::after{
    margin:0;
    padding:0;    
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

button,a,img,picture{
    margin:0;
    padding:0;
}

body{
    margin: 0;
    padding:0;
}

/* ---- styling ---- */

:root{
    --bg-color: #111520;
    --green: #00FF90;
    --white: #ffff;
}

body{
    background: var(--bg-color);
    color: var(--white);
}

a{
    text-decoration:none;
}

nav{
    width:100%;
    display:flex;
    height:50px;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    gap:100px;
    list-style:none;
}